/*Global*/

body{
  padding:0 20px;
  margin:0;
  height:auto;
  background-color: #F4EEE3;
  font-family: 'EB Garamond', serif;
  background-image: url('img/background.png');
}
.title-img{
   display:block;
   width:278px;
   height:56px;
   margin: 0 auto;
   margin-bottom:10px;
   
}
.title-pages{
   font-family: Migra-extralight;
   font-size: 55px;
   font-weight:200;
   max-width:746px;
   text-align:center;
   margin: 0 auto;
   margin-bottom: 30px;
   color: #503C49;
   position:relative;
}
.arrows{
   width: 100%;
   margin: 0 auto;
   margin-top:130px;
}
.arrows img{
   width:100%;
   height:36px;
}
.slider{
   display:flex;
   justify-content: space-between;
   margin-top:50px;
   transition: all ease 1s;
}
.arrows-of-slider{
   display: flex;
   justify-content: center;
   margin-top:70px;
}
.arrow-left{
   margin-right:75px;
   cursor: pointer;
}
.arrow-right{
   cursor: pointer;
}
.arrow-left:hover,
.arrow-right:hover{
   width: 70px;
   height: 40px;
   margin-bottom: -5px;
}
.arrow-left:hover{
   margin-right: 65px;
}
.arrow-right:hover{
   margin-left: -11px;
}
.arrow-left img,
.arrow-right img{
   width: 100%;
   height: 100%;
}
figcaption{
   text-align: center;
   color: #503C49;
   font-family: Migra-extralight;
   font-size:28px;
   font-weight:200;
   font-style:normal;
}

.no-active-menu{
   display:none;
}
.active-menu{
   display:block;
   animation-duration: 0.5s;
   animation-name: menu-slide;
}

/*Header */

.header{
padding:0;
margin-left:10.8px;
margin-right:10.5px;
margin-top:21.9px;
position:relative;
}
.header-menu{
margin:0;
padding:0;
display:flex;
justify-content: space-between;
margin: 0 104px;
}
.header-menu ul{
list-style:none;
padding:0;
margin:0;
display:flex;
margin-top:38px;
}
.header-menu li {
margin-right:40px;
}
.header-menu li a{
   text-decoration: none;
   color: #503C49;
   font-weight:400;
   font-size:18px;
}
.header-menu li:last-child{
margin-right:0;
}
.header-menu li a:hover{
   color: #b4b4b4;
}
.header-logo{
   position:absolute;
   top:0;
   left:calc(50% - 80px);
   width: 15%;
   max-width:154px;
   height:67px;
}
.header-logo-block{
   text-align: center;
   display: none;
   padding-top: 40px;
}
.date-of-festival{
text-align:center;
font-size:18px;
font-weight: 400;
color:#C77C50;
font-style:italic;
margin:0;
padding:0;
margin-top:218px;
line-height:23px;
}
.header-title{
   font-size:76px;
   font-family: Migra-extrabold;
   font-weight:800;
   text-align:center;
   margin:0;
   padding:0;
   margin-top:10px;
   color: #503C49;
   padding: 0 10px;
}
.header-text{
   max-width:447px;
   padding:0;
   margin: 0 auto;
}
.header-text p{
font-size: 18px;
color: #503C49;
font-weight: 400;
text-align: center;
margin:0;
padding:0;
margin-top:20px;
}
.border-header{
   position:absolute;
   top:0;
   left:0;
   z-index: -1000;
   width: 100%;
   max-height:709px;
}
.header-btn{
   text-align: center;
   margin: 47px auto 142px auto;
   background-image: url('img/btn.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   width: 202px;
   height: 43px;
}
.header-btn-item{
height: 43px;
padding-top: 7px;
}
.header-btn a{
   text-decoration: none;
   font-size: 18px;
   font-weight: 400;
   color: #000;
}
.header-btn a:hover{
   color: #b4b4b4;
   font-size: 20px;
}

/* Burger */


.nav-burger{
   width: 20px;
   padding: 15px 0;
   position:absolute;
   cursor: pointer;
   z-index: 1000;
   right: 40px;
   top:40px;
   display: none;
}
.nav-burger-item{
   display:block;
   width: 100%;
   height: 3px;
   background-color: black;
   position: absolute;
   top:0;
   left:0;
   right: 0;
   bottom: 0;
   margin: auto;
}
.nav-burger-item::after,
.nav-burger-item::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: black;
}
.nav-burger-item::after{
   top: -6px;
}
.nav-burger-item::before{
   bottom: -6px;
}

.burger-menu{
   width: 200px;
   padding: 20px 15px;
   position: absolute;
   top: 30px;
   right: 5px;
   background-color: #F4EEE3;
   border: 1px solid #bcbcbc;
   cursor:default;
}
.burger-menu ul{
   list-style: none;
   padding:0;
}
.burger-image{
   width: 200px;
   margin: 0 auto;
   margin-bottom: 15px;
}
.burger-menu img{
   width: 100%;
}
.burger-menu ul li{
   text-align: center;
   margin-bottom: 5px;
}
.burger-menu ul li a{
   font-size: 18px;
   color: #503C49;
   text-decoration: none;
   font-weight: 400;
}
.burger-menu ul li a:hover{
   color: #bcbcbc;
}

/*Tradition-of-festival*/

.tradition-of-festival{
padding:0;
margin:0;
padding-top:100px;
}
.video{
padding: 0;
text-align: center;
position:relative;
max-width: 900px;
margin: 0 auto;
padding: 0 120px;
}
.start-video{
   position:absolute;
   left:calc(50% - 50px);
   right: 50%;
   top:calc(50% - 50px);
   cursor: pointer;
}
.start-video:hover{
   width: 150px;
   height: 150px;
}
.video-attractions,
.video-festival{
   width: 100%;
   height: auto;
}
.video::before{
content:'';
position:absolute;
width:120px;
height:235px;
background: url('img/left-of-video.png') no-repeat;
background-size: 100% 100%;
left:0;
top:35%;
}
.video::after{
   content:'';
   position:absolute;
   width:120px;
   height:235px;
   background: url('img/right-of-video.png') no-repeat;
   background-size: 100% 100%;
   right:0;
   top:35%;
   }
   .festival-text{
      max-width:595px;
      font-size:18px;
      line-height: 28px;
      text-align: center;
      font-weight:400;
      margin: 0 auto;
      color: #503C49;
      margin-top:30px;
   }
   .festival-text a{
      text-decoration: none;
      color: #00bfff;
   }
   .festival-text a:hover{
      color: #C77C50;
   }

   /*Events*/

   .events{
      padding:0;
      margin:0;
      padding-top:100px;
      overflow: hidden;
   }
   .slider-item-1,
   .slider-item-2,
   .slider-item-3,
   .slider-item-4,
   .slider-item-5,
   .slider-item-6{
      min-width: 33%;
      height: auto;
      
   }
   .slider-item-3{
      margin-right: 12px;
   }
   .events-img-1,
   .events-img-2,
   .events-img-3,
   .events-img-4,
   .events-img-5,
   .events-img-6,
   .food-img-1,
   .food-img-2,
   .food-img-3,
   .food-img-4,
   .food-img-5,
   .food-img-6{
      width: 100%;
      height: auto;
   }
 
   /*Attractions*/

   .attractions{
      padding:0;
      margin:0;
      padding-top:100px;
   }
   .attraction-text{
      max-width:680px;
      font-size:18px;
      line-height: 28px;
      text-align: center;
      font-weight:400;
      margin: 0 auto;
      color: #503C49;
      margin-top:30px;
   }
   
   .attraction-btn{
      text-align: center;
      margin: 47px auto 142px auto;
      background-image: url('img/btn.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 202px;
      height: 43px;
   }
   .attraction-btn-item{
      height: 43px;
      padding-top: 7px;
   }
   .attraction-btn a{
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      color: #000;
      
   }
   .attraction-btn a:hover{
      color: #b4b4b4;
      font-size: 20px;
   }
   
   /*Food-and-drinks*/

   .food-and-drinks{
      padding: 100px 0;
      margin:0;
      overflow: hidden;
   }
  
   /*Footer*/

   .footer{
      padding:0;
      margin:0;
      position: relative;
      padding-top:60px;
   }
   .border-footer{
      position: absolute;
      left:0;
      top:0;
      z-index:-1000;
      width: 100%;
      height:275px;
   }
   .footer-items{
      max-width:1200px;
      margin:0 auto;
      display:flex;
      justify-content: space-between;
      margin-bottom:100px;
      padding: 0 40px;
   }
   .footer-items ul{
      list-style:none;
      margin-left:0;
      padding-left:0;
   }
   .footer-items h3{
      font-size:25px;
      font-weight:500;
      font-style: normal;
      color: #503C49;
   }
   .footer-items a{
      text-decoration: none;
      font-size: 18px;
      color: #503C49;
      font-weight: 400;
      font-style:normal;
   }
   .footer-item-1 p{
    margin:0;
    padding:0;
   }
   .footer-item-1 img{
   margin-bottom:10px;
   margin-top:30px;
   }
   .footer-item-5 ul{
      display:flex;
      justify-content: space-between;
   }
   .inst-link{
      width:17px;
      height:17px;
   }
   .tw-link{
      width:21px;
      height:15px;
   }
   .fb-link{
      width:8px;
      height:15px;
   }
   .footer-item-5{
      margin-top:20px;
      max-width: 80px;
   }
.footer-item-1,
.footer-item-2,
.footer-item-3,
.footer-item-4,
.footer-item-5{
   width: 20%;
}
.footer a:hover{
   color: #bcbcbc;
}
.inst-link:hover,
.tw-link:hover,
.fb-link:hover{
   transform: translateY(-5px);
}
/* Media */

@media(max-width: 1250px){
   .header-logo{
      width: 13%;
      left:calc(50% - 70px);
   }
}
@media(max-width: 1150px){
   .header-logo{
      left:calc(51% - 70px);
   }
}
@media(max-width: 1050px){
   .footer-item-1,
   .footer-item-2,
   .footer-item-3,
   .footer-item-4{
      margin-right: 10px;
   }
   .header-menu{
      margin: 0 50px;
   }
}
@media(max-width: 950px){
   .header-logo{
      left:calc(51% - 60px);
   }
   .footer-items{
      padding: 0 15px;
   }
   .footer-logo{
      width: 130px;
   }
   .video::before,
   .video::after{
      display:none;
   }
   .video{
      padding: 0;
   }
}
@media(max-width: 850px){
   .header-logo{
      left:calc(51% - 55px);
   }
   .footer-items{
      padding: 0 10px;
   }
   .header-menu{
      margin: 0 15px;
   }
   .header-menu{
   padding-top: 20px;
   }
}
@media(max-width: 767px){
   .header-menu{
      display: none;
   }
   .nav-burger{
      display: block;
   }
   .header-logo{
     display: none;
   }
   .header-logo-block{
      display: block;
   }
   .date-of-festival{
      margin-top: 50px;
   }
   .slider-item-1,
   .slider-item-2,
   .slider-item-3,
   .slider-item-4,
   .slider-item-5,
   .slider-item-6{
      min-width: 49.5%;
   }
   .slider-item-3{
      margin-right: 0;
   }
   .slider-item-4,
   .slider-item-2{
      margin-right: 10px;
   }
   .footer-items{
      display: block;
   }
   .border-footer{
      display: none;
   }
   .header-btn{
      margin-bottom: 50px;
   }
   .border-header{
      max-height: 609px;
   }
   .tradition-of-festival{
      padding-top: 130px;
   }
   .food-and-drinks{
      border-bottom: 1px solid #bcbcbc;
   }
   .footer-item-1,
   .footer-item-2,
   .footer-item-3,
   .footer-item-4,
   .footer-item-5{
      width: 100%;
   }
   .footer-item-5{
      margin-top: 50px;
   }
   .border-header{
      display: none;
   }
   .header{
      border-bottom: 1px solid #bcbcbc;
      padding-bottom: 100px;
   }
}
@media(max-width: 650px){
   .start-video{
      width: 120px;
      height: 120px;
   }
   .start-video:hover{
      width: 124px;
      height: 124px;
   }
   .slider-item-4,
   .slider-item-2{
      margin-right: 6px;
   }
}
@media(max-width: 550px){
   .header-title{
      font-size: 50px;
   }
   .nav-burger{
      right: 5px;
   }
   .title-pages{
      font-size: 40px;
   }
}
@media(max-width: 450px){
      .start-video{
      width: 100px;
      height: 100px;
      }
      .start-video:hover{
         width: 104px;
         height: 104px;
      }
      .header-title{
         font-size: 40px;
      }
      .nav-burger{
         right: 0;
      }
      .header{
         padding-bottom: 45px;
      }
      .tradition-of-festival,
      .events,
      .attractions,
      .food-and-drinks,
      .footer{
         padding-top: 45px;
      }
      .arrows{
         margin-top: 45px;
      }
      .attraction-btn{
         margin-bottom: 50px;
      }
      .slider-item-4,
      .slider-item-2{
         margin-right: 4px;
      }
}
/* Fonts */

@font-face {
   font-family: Migra-extrabold;
   src: url(fonts/Migra-Extrabold.ttf) format('truetype');
   font-style:normal;
   font-weight: 800;
}
@font-face{
   font-family: Migra-extralight;
   src: url(fonts/Migra-Extralight.ttf) format('truetype');
   font-style:normal;
   font-weight: 200;
}

/* Animations */

@keyframes menu-slide {
   from {
    top: -500px;
   }
   to {
     top: 30px;
   }
 }